---
title: 11ty Boilerplate
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/" title="Home">Home</a></li>
      <li><a href="/wallet/" title="Wallet">Wallet</a></li>
      <li><a href="/phone/" title="Phone">Phone</a></li>
      <li><a href="/keys/" title="Keys">Keys</a></li>
    </ul>
  </nav>
    {{ content }}
  <footer>
    <p>{% year %} Everyday Carry</p>
  </footer>
</body>
</html>