body {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    background-color: #121212;
    color: 0;
    padding: 0;
}

nav {
    background-color: #1f1f1f;
    padding: 12px 0;
    border-bottom: 1px solid #333;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 0;
    padding: 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

nav a:hover {
    color: #bbbbbb;
}

h1 {
    text-alighn: center;
    color: #ffffff;
    margin-top: 30px;
}

p {
    text-align: center;
    line-height: 1.6;
    font-size: 18px;
    color: #e0e0e0;
}

img.about {
    display: block;
    margin: 225px auto;
    max-width: 80%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255,255,225,0,1);
}

ul li {
    text-align: center;
    margin: 10px 0;
}

footer {
    text-align: center;
    background-color: #1f1f1f;
    color: #cccccc;
    padding: 12px 0;
    font-size: 14px;
    border-top: 1px solid #333
}